{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container mt-4">
        <h2>Dashboard </h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">

                <form class="d-flex justify-content-center align-items-center mb-4">
                    <div class="form-outline flex-fill">
                        <input type="text" id="form2" class="form-control" />
                        <label class="form-label" for="form2">New task...</label>
                    </div>
                    <button type="submit" class="btn btn-info ms-2">Add</button>
                </form>

                <!-- Tabs navs -->
                <ul class="nav nav-tabs mb-4 pb-2" id="ex1" role="tablist">
                    
                {%for t in tasks %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link {%if forloop.counter0 == 0%}active{%endif%}" data-toggle="tab" href="#ex1-tabs-{{t.key}}" role="tab"
                        aria-controls="ex1-tabs-{{t.key}}" aria-selected="{%if forloop.counter0 == 0%}true{%endif%}">{{t.title}}</a>
                </li>
                {%endfor%}
                </ul>
                <!-- Tabs navs -->

                <!-- Tabs content -->
                <div class="tab-content" id="ex1-content">
                    {%for t in tasks%}
                    <div class="tab-pane fade {%if forloop.counter0 == 0%}show active{%endif%}" id="ex1-tabs-{{t.key}}" role="tabpanel" aria-labelledby="ex1-tab-{{t.key}}">
                        {%if t.tasks%}
                <ul class="list-group mb-0">
                    {%for task in t.tasks%}
                    <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                        style="background-color: #f4f6f7;">
                        <input class="form-check-input me-2" type="checkbox" value="" aria-label="..."
                            {%if task.completed%} checked{%endif%} />
                        {%if task.completed%}<s>{{task}}</s>{%else%}{{task}}{%endif%}
                    </li>
                    {%endfor%}
                </ul>

                {%else%}
                <div class="alert alert-success">No {{t.title}}</div>
                {%endif%}
                    </div>
                    {%endfor%}
                </div>
                <!-- Tabs content -->

            </div>
        </div>
    </div>

    <script src="{% static 'js/deleteobject.js' %}"></script>
    <script src="{% static 'js/searchincome.js' %}"></script>
</div>
{% endblock content %}