{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="card mt-5">
        <div class="card-title mt-2">
            <h1 style="text-align:center">Login</h1>
        </div>
        <div class="card-body">
            
            <form action="{% url 'login' %}" method="POST" >
                {% csrf_token %}
                <!-- <div class="form-group "> -->
                    {% include 'partials/_messages.html'  %}
                <!-- </div> -->
                <div class="form-group mt-2">
                    <input class="form-control form-control-sm" value="{{fieldValues.username}}" id="username" placeholder="Username" name="username" type="text" >
                </div>
                <div class="form-group mt-2">
                    <input class="form-control form-control-sm password" id="password" value="{{fieldValues.password}}" name="password" type="password" placeholder="Password" />
                </div>
                <div class="form-group mt-2 pull-right">
                    <input class="btn btn-block btn-primary login pull-right" id="login" name="register" type="submit" value="Login" />
                </div>
            </form>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <label for="" class="form-label text-lead lead">Create account?</label>
                    <a href="{% url 'register' %}">Register</a>    
                </div>        
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <label for="" class="form-label text-lead lead">Forgot Password?</label>
                    <a href="{% url 'resetpassword' %}">Reset</a>    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}