{% load static i18n %}
{%if list%}
<table class="table table-striped" data-toggle="table">
    <thead>
        <tr>
            <th>#</th>
            <th>{%trans 'Name'%}</th>
            <th>{%trans 'Code'%}</th>
            <th>{%trans 'Account Type'%}</th>
            <th>{%trans 'Parent Account'%}</th>
            <th>{%trans 'Status'%}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {%for account in list%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ account.name|default_if_none:'' }}</td>
            <td>{{ account.code|default_if_none:'' }}</td>
            <td>{{ account.get_account_type_display|default_if_none:'' }}</td>
            <td>{{ account.parent|default_if_none:'' }}</td>
            <td>{{ account.get_status_display|default_if_none:'' }}</td>
            <td>
                {%if 'change_chart_of_account' in perms%}<button
                    hx-get="{%url 'gl-account' account.id%}?action=get-form" hx-target="#modal-dialog"
                    class="btn btn-primary btn-xs">{%trans 'edit'%}</button>{%endif%}
                {%if 'delete_chart_of_account' in perms and not account.children.count > 0%}<button
                    hx-delete="{%url 'gl-account' account.id%}"
                    hx-confirm="{%trans 'Do you want to delete this account?'%}" class="btn btn-xs btn-danger">{%trans 'delete'%}</button>{%endif%}
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%else%}
    <div class="alert alert-danger">No accounts registered</div>
{%endif%}