{% load static i18n crispy_forms_tags %}
<div class="modal-content">
    <form hx-post="{%if account%}{%url 'gl-account' account.id%}{%else%}{%url 'gl-accounts'%}{%endif%}" hx-encoding="multipart/form-data">
        <div class="modal-header">
            <h5 class="modal-title">{%trans 'General ledger account'%}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            {%csrf_token%}
            {%if form%}{%crispy form%}{%endif%}
        </div>
        <div class="modal-footer text-right">
            <button type="button" class="btn btn-warning modal-close" data-dismiss="modal">Close</button>
            <button class="btn btn-flat btn-primary">Save</button>
        </div>
    </form>
</div>