{% load static i18n custom_tags %}
{%if list%}
<table class="table table-striped" data-toggle="table">
    <thead>
        <tr>
            <th>Action</th>
            <th>#</th>
            {% for key, value in list.0.items %}
            {%if not key == 'id'%}<th>{{ key|replace:"_| "|capfirst }}</th>{%endif%}
            {% endfor %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {%for invoice in list%}
        <tr>
            <td>
                {%if 'finances.edit_invoice' in perms%}
                <button hx-get="{%url 'invoice' invoice.id%}?action=get-form" hx-target="#modal-dialog-lg" class="btn btn-xs btn-primary">{%trans 'edit'%}</button>
                {%endif%}
            </td>
            <td>{{forloop.counter}}</td>
            {% for key, value in invoice.items %}
            {%if not key == 'id'%}<td>{{ value|default_if_none:'' }}</td>{%endif%}
            {% endfor %}
            <td>
                {%if 'finances.edit_invoice' in perms%}
                <button hx-get="{%url 'invoice' invoice.id%}?action=get-form" hx-target="#modal-dialog-lg" class="btn btn-xs btn-primary">{%trans 'edit'%}</button>
                {%endif%}
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%else%}
    <div class="alert alert-danger">No data to display</div>
{%endif%}